<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.2" package="com.miui.osb"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10" />
    <application android:theme="@miui:style/V5.Theme.Light.Dialog" android:label="@string/info1" android:icon="@drawable/ic_launcher" android:debuggable="true">
        <activity android:label="@string/info2" android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
		<action android:name="com.android.settings.OSB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
